/*Mapa colores primarios y secundarios para header*/
$paleta-colores: (
    'primary': #316ac0,
    'secondary': rgba(16, 67, 90, 0.6901960784),
    'success': #28a745,
    'danger': #dc3545
);

/* 2. Estilo de Encabezado (Gradiente) */

header .navbar {
    background: #fafafa;
    background: linear-gradient(0deg,rgba(250, 250, 250, 1) 63%, rgba(176, 205, 245, 1) 100%, rgba(49, 106, 192, 1) 100%);
}